@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


<h1>HelloWorld Consulting Firm</h1>
<br>
<img class="post--single-featured-image--single fade--load" 
src="https://www.impactbnd.com/hubfs/blog-image-uploads/best-about-us-pages.jpg?t=1539186236358">
<br><br>
<blockquote><strong>Our Vision:</strong>To be recognized as an impactful, innovative and efficient Analytics Consulting Firm.</blockquote>
<blockquote><strong>Our Mission:</strong>We are a professional, enthusiastic and innovative team, dedicated to providing best solutions to your problems that will help customers become more productive and profitable.</blockquote>
<blockquote><strong>Our Focus:</strong>Helping you succeed and serving as your trusted partner.</blockquote>

<div style="color:lightslategrey">
  <strong>WE </strong>are a team of passionate problem solvers. We not only work for you but also work
    with you.<br>
    <em>Legacy:</em><p>Founded by 3 visionary IT professional in 2014. We have grown into a vast family of more than
    600 employees. In 2016, we received the Telstra Business Award for Excellence and Innovation.</p>

</div>
<br>
<center><h2 style="background-color:DodgerBlue;">Owner</h2></center>
 <div class="img-photo">
   <div><img src="images/Manish.jpg" class="avatar" style="width: 210px; height: 250px;">
              <p>Manish Semwal<br><i>Founder & CEO</i></p></div>
    <div>
      <img src="images/Darshana.jpg" class="avatar" style="width: 210px; height: 250px;">
              <p>Darshana Burade<br><i>Chief Technology Officer</i></p>
    </div>            

    <div>
      <img src="images/Bhavya.jpg" class="avatar" style="width: 210px; height: 250px;">
               <p>Bhavya Bansal<br><i>Chief Data Scientist</i></p>
    </div>    
            
</div>