@page
@model ContactModel
@{
    ViewData["Title"] = "Help";
}
<html>
    <head>
      <style>
          p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
   
}
   </style>
    </head>
<body>



    
<h2><strong>Let's get started</strong></h2>
<p> <strong>Home page </strong></p>
    <img src="/images/homepage.png" alt="homepage" style="width: 800px; height: 500px;">
   
<p><strong>You can find all the necessary functionalities here </strong></p>
    <img src="/images/homepage2.png" alt="homepage2"  style="width: 800px; height: 500px;">

<p><strong>You can find univerisity records of our profiles</strong></p>
<img src="/images/universityrecords.png" alt="homepage2"  style="width: 800px; height: 500px;">

<p><strong>You can find academic records of our profiles</strong></p>
<img src="/images/academicrofile.png" alt="homepage2"  style="width: 800px; height: 500px;">

<p><strong>You can update the skills rating</strong></p>
<img src="/images/updateskillrating.png" alt="homepage2"  style="width: 800px; height: 500px;">
<img src="/images/updateskillrating2.png" alt="homepage2"  style="width: 800px; height: 500px;">
<img src="/images/updateskillratingresult.png" alt="homepage2"  style="width: 800px; height: 500px;">
 

 <p><strong>You can search a candidate</strong></p>
<img src="/images/searchcandidate.png" alt="homepage2"  style="width: 800px; height: 500px;">

</body>
</html>
