@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}


<h1>Book my coffee</h1>
<br>
<img class="post--single-featured-image--single fade--load" 
src="https://www.impactbnd.com/hubfs/blog-image-uploads/best-about-us-pages.jpg?t=1539186236358">
<br><br>

<div style="color:lightslategrey;font-family: 'Sniglet', cursive;">
  <strong>WE </strong>here at book my coffee make sure that you have the perfect time whether you are on a date or meeting with an old buddy.<br>
    <p>We make sure that you find the perfect place for the interview with your next boss or you bag that client
    over a coffee meeting.</p>
    <p>A lot can happen over a coffee</p>

</div>
<br>
<center><h2 style="background-color:DodgerBlue;font-family: 'Sniglet', cursive;">Owners</h2></center>
 <div class="img-photo">
   
   <div>
      <!--<img src="images/Bhavya.jpg" class="avatar" style="width: 210px; height: 250px;">-->
               <p>Ravi Katakum<br><i>Chief Executive Officer</i></p>
    </div>  
    <div>
      <!--<img src="images/Darshana.jpg" class="avatar" style="width: 210px; height: 250px;">-->
              <p>Darshana Borade<br><i>Chief Financial Officer</i></p>
    </div>            
               
</div>