@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<html>
<body>

<h2><strong>Get In Touch With Us</strong></h2>
<img src="https://blog.hubspot.com/hubfs/contact-form-pages.jpg?t=1539190086324" alt="contact-form-pages">

<br><br>
<div style="color:lightslategrey;font-family: 'Sniglet', cursive;">
<address>
    707 Martin Luther King Dr W<br />
    Cincinnati, OH-45220<br />
    <abbr title="Phone">P:</abbr>
    302-513-5031
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@bookmycoffee.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@bookmycoffee.com</a>
</address>
</div>
</body>
</html>
